<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/venkatkameswaran/" target="_blank">@venkatkameswaran</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/vramanan" target="_blank">linkedin.com/in/vramanan</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:venkat.kameswaran@gmail.com" target="_blank">venkat.kameswaran@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="mob:9620834400" target="_blank">+91-9620834400</a></p>
